openhack-devops-team/apis/poi/ @ahmed812 @Subhasish Ray
openhack-devops-team/apis/trips/ @buvananaji @gauravrkme
openhack-devops-team/apis/user-java/ @buvananaji @Archna Gupta
openhack-devops-team/apis/userprofile/ @manohar133 @ahmed812
