# In this example assign owners for `/apis` directory
# will require approval from @doctocat.
/apis/poi/ @rbmathis
/apis/trips/ @radabala1
/apis/user-java/ @ushakrishnan
/apis/userprofile/ @joelst
/apis/ @faansar
